body{
    background-color: azure;
    font-family: roboto;
    margin: auto;
    text-align: center;
}

.a-logout{
    width: 20%;
    padding: 15px;
    background-color: red;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}

.a-login{
    width: 20%;
    padding: 15px;
    background-color: blue;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}